config TRICORE_TESTBOARD
    default y
    depends on TRICORE
    bool

config TRIBOARD
    bool
    default y
    depends on TRICORE
    select TC27X_SOC

config TC27X_SOC
    bool

config TC4X_BOARD
    bool
    default y
    depends on TRICORE
    select TC4X_SOC

config TC4X_SOC
    bool
    select UNIMP
