config HEATHROW_PIC
    bool

config I8259
    bool

config PL190
    bool

config IOAPIC
    bool

config ARM_GIC
    bool

config OPENPIC
    bool

config APIC
    bool

config ARM_GIC_KVM
    bool
    default y
    depends on ARM_GIC && KVM

config OPENPIC_KVM
    bool
    default y
    depends on OPENPIC && KVM

config XICS
    bool
    default y
    depends on PSERIES

config XICS_SPAPR
    bool
    default y
    depends on PSERIES

config XICS_KVM
    bool
    default y
    depends on XICS && KVM

config ALLWINNER_A10_PIC
    bool

config S390_FLIC
    bool

config S390_FLIC_KVM
    bool
    default y
    depends on S390_FLIC && KVM

config OMPIC
    bool
