config HEATHROW_PIC
    bool

config I8259
    bool

config PL190
    bool

config IOAPIC
    bool

config ARM_GIC
    bool
    select MSI_NONBROKEN

config OPENPIC
    bool
    select MSI_NONBROKEN

config APIC
    bool
    select MSI_NONBROKEN

config ARM_GIC_KVM
    bool
    default y
    depends on ARM_GIC && KVM

config OPENPIC_KVM
    bool
    default y
    depends on OPENPIC && KVM

config XICS
    bool
    depends on POWERNV || PSERIES

config XICS_SPAPR
    bool
    select XICS

config XICS_KVM
    bool
    default y
    depends on XICS && KVM

config ALLWINNER_A10_PIC
    bool

config S390_FLIC
    bool

config S390_FLIC_KVM
    bool
    default y
    depends on S390_FLIC && KVM

config OMPIC
    bool
