config HYPERV
    bool
    depends on KVM

config HYPERV_TESTDEV
    bool
    default y if TEST_DEVICES
    depends on HYPERV

config VMBUS
    bool
    default y
    depends on HYPERV

config SYNDBG
    bool
    default y
    depends on VMBUS

config HV_BALLOON_SUPPORTED
    bool

config HV_BALLOON
    bool
    default y
    depends on VMBUS
    depends on HV_BALLOON_POSSIBLE
    depends on HV_BALLOON_SUPPORTED
