config S390_CCW_VIRTIO
    bool
    default y
    depends on S390X
    imply VIRTIO_PCI
    imply TERMINAL3270
    imply VFIO_AP
    imply VFIO_CCW
    imply WDT_DIAG288
    imply PCI_BRIDGE
    imply PCIE_DEVICES
    imply IOMMUFD
    select PCI_EXPRESS
    select S390_FLIC
    select S390_FLIC_KVM if KVM
    select SCLPCONSOLE
    select VIRTIO_CCW
    select MSI_NONBROKEN
    select VIRTIO_MEM_SUPPORTED
