config TMP105
    bool
    depends on I2C

config TMP421
    bool
    depends on I2C

config DPS310
    bool
    depends on I2C

config EMC141X
    bool
    depends on I2C

config ADM1272
    bool
    depends on I2C

config MAX34451
    bool
    depends on I2C
