# EditorConfig is a file format and collection of text editor plugins
# for maintaining consistent coding styles between different editors
# and IDEs. Most popular editors support this either natively or via
# plugin.
#
# Check https://editorconfig.org for details.
#
# Emacs: you need https://github.com/10sr/editorconfig-custom-majormode-el
# to automatically enable the appropriate major-mode for your files
# that aren't already caught by your existing config.
#

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.mak]
indent_style = tab
indent_size = 8
emacs_mode = makefile

[Makefile*]
indent_style = tab
indent_size = 8
emacs_mode = makefile

[*.{c,h,c.inc,h.inc}]
indent_style = space
indent_size = 4
emacs_mode = c

[*.sh]
indent_style = space
indent_size = 4

[*.{s,S}]
indent_style = tab
indent_size = 8
emacs_mode = asm

[*.{vert,frag}]
emacs_mode = glsl

[*.json]
indent_style = space
emacs_mode = python
