[submodule "roms/vgabios"]
	path = roms/vgabios
	url = git://git.qemu.org/vgabios.git/
[submodule "roms/seabios"]
	path = roms/seabios
	url = git://git.qemu.org/seabios.git/
[submodule "roms/SLOF"]
	path = roms/SLOF
	url = git://git.qemu.org/SLOF.git
[submodule "roms/ipxe"]
	path = roms/ipxe
	url = git://git.qemu.org/ipxe.git
