[submodule "roms/vgabios"]
	path = roms/vgabios
	url = git://git.qemu-project.org/vgabios.git/
[submodule "roms/seabios"]
	path = roms/seabios
	url = git://git.qemu-project.org/seabios.git/
[submodule "roms/SLOF"]
	path = roms/SLOF
	url = git://git.qemu-project.org/SLOF.git
[submodule "roms/ipxe"]
	path = roms/ipxe
	url = git://git.qemu-project.org/ipxe.git
[submodule "roms/openbios"]
	path = roms/openbios
	url = git://git.qemu-project.org/openbios.git
[submodule "roms/openhackware"]
	path = roms/openhackware
	url = git://git.qemu-project.org/openhackware.git
[submodule "roms/qemu-palcode"]
	path = roms/qemu-palcode
	url = git://github.com/rth7680/qemu-palcode.git
[submodule "roms/sgabios"]
	path = roms/sgabios
	url = git://git.qemu-project.org/sgabios.git
[submodule "pixman"]
	path = pixman
	url = git://anongit.freedesktop.org/pixman
[submodule "dtc"]
	path = dtc
	url = git://git.qemu-project.org/dtc.git
[submodule "roms/u-boot"]
	path = roms/u-boot
	url = git://git.qemu-project.org/u-boot.git
[submodule "roms/skiboot"]
	path = roms/skiboot
	url = git://git.qemu.org/skiboot.git
[submodule "roms/QemuMacDrivers"]
	path = roms/QemuMacDrivers
	url = git://git.qemu.org/QemuMacDrivers.git
