config OR1K_SIM
    bool
    default y
    depends on OPENRISC
    select DEVICE_TREE
    select SERIAL_MM
    select OPENCORES_ETH
    select OMPIC
    select SPLIT_IRQ

config OR1K_VIRT
    bool
    default y
    depends on OPENRISC
    imply PCI_DEVICES
    imply VIRTIO_VGA
    imply TEST_DEVICES
    select DEVICE_TREE
    select PCI
    select PCI_EXPRESS_GENERIC_BRIDGE
    select GOLDFISH_RTC
    select SERIAL_MM
    select SIFIVE_TEST
    select VIRTIO_MMIO
