config DS1338
    bool
    depends on I2C
    default y if I2C_DEVICES

config M41T80
    bool
    depends on I2C
    default y if I2C_DEVICES

config M48T59
    bool

config PL031
    bool

config TWL92230
    bool
    depends on I2C

config MC146818RTC
    depends on ISA_BUS
    bool

config SUN4V_RTC
    bool

config GOLDFISH_RTC
    bool

config LS7A_RTC
    bool
