config ACPI
    bool

config ACPI_X86
    bool
    select ACPI
    select ACPI_NVDIMM
    select ACPI_CPU_HOTPLUG
    select ACPI_MEMORY_HOTPLUG

config ACPI_X86_ICH
    bool
    select ACPI_X86

config ACPI_CPU_HOTPLUG
    bool

config ACPI_MEMORY_HOTPLUG
    bool
    select MEM_DEVICE

config ACPI_NVDIMM
    bool
    depends on ACPI

config ACPI_PCI
    bool
    depends on ACPI && PCI

config ACPI_VMGENID
    bool
    default y
    depends on PC
