config PSERIES
    bool
    default y
    depends on PPC64 && FDT
    imply USB_OHCI_PCI
    imply PCI_DEVICES
    imply TEST_DEVICES
    imply VIRTIO_VGA
    imply VFIO_PCI if LINUX   # needed by spapr_pci_vfio.c
    select NVDIMM
    select DIMM
    select PCI
    select SPAPR_VSCSI
    select XICS
    select XIVE
    select MSI_NONBROKEN
    select FDT_PPC
    select CHRP_NVRAM
    select VOF

config SPAPR_RNG
    bool
    default y
    depends on PSERIES

config POWERNV
    bool
    default y
    depends on PPC64 && FDT
    imply PCI_DEVICES
    imply TEST_DEVICES
    select ISA_IPMI_BT
    select IPMI_LOCAL
    select ISA_BUS
    select MC146818RTC
    select XICS
    select XIVE
    select FDT_PPC
    select PCI_POWERNV
    select PCA9552
    select PCA9554
    select SERIAL_ISA
    select SSI
    select SSI_M25P80
    select PNV_SPI

config PPC405
    bool
    default y
    depends on PPC

config PPC440
    bool
    default y
    depends on PPC && FDT
    imply PCI_DEVICES
    imply TEST_DEVICES
    imply E1000_PCI
    select PCI_EXPRESS
    select PPC440_PCIX
    select PPC4XX
    select SERIAL_MM
    select FDT_PPC

config PPC4XX
    bool
    select BITBANG_I2C
    select PPC4XX_PCI
    select PPC_UIC

config SAM460EX
    bool
    default y
    depends on PPC && FDT
    select PFLASH_CFI01
    select IDE_SII3112
    select M41T80
    select PPC440
    select SERIAL_MM
    select SM501
    select SMBUS_EEPROM
    select USB_EHCI_SYSBUS
    select USB_OHCI_SYSBUS
    select FDT_PPC

config AMIGAONE
    bool
    default y
    depends on PPC
    imply ATI_VGA
    select ARTICIA
    select VT82C686
    select SMBUS_EEPROM

config PEGASOS
    bool
    default y
    depends on PPC
    imply ATI_VGA
    select MV64361
    select VT82C686
    select SMBUS_EEPROM
    select VOF

config PREP
    bool
    default y
    depends on PPC
    imply PCI_DEVICES
    imply TEST_DEVICES
    select CS4231A
    select RAVEN_PCI
    select I82378
    select LSI_SCSI_PCI
    select M48T59
    select PC87312
    select RS6000_MC
    select FW_CFG_PPC

config RS6000_MC
    bool

config MAC_OLDWORLD
    bool
    default y
    depends on PPC
    imply PCI_DEVICES
    imply SUNGEM
    imply TEST_DEVICES
    select ADB
    select GRACKLE_PCI
    select HEATHROW_PIC
    select MACIO
    select FW_CFG_PPC

config MAC_NEWWORLD
    bool
    default y
    depends on PPC
    imply PCI_DEVICES
    imply SUNGEM
    imply TEST_DEVICES
    imply USB_OHCI_PCI
    select ADB
    select MACIO
    select MACIO_GPIO
    select MAC_PMU
    select UNIN_PCI
    select FW_CFG_PPC

config E500
    bool
    imply AT24C
    imply VIRTIO_PCI
    select ETSEC
    select GPIO_MPC8XXX
    select OPENPIC
    select PFLASH_CFI01
    select PLATFORM_BUS
    select PPCE500_PCI
    select SDHCI
    select SERIAL_MM
    select MPC_I2C
    select FDT_PPC
    select DS1338
    select UNIMP

config E500PLAT
    bool
    default y
    depends on PPC && FDT
    select E500

config MPC8544DS
    bool
    default y
    depends on PPC && FDT
    select E500

config VIRTEX
    bool
    default y
    depends on PPC && FDT
    select PPC4XX
    select PFLASH_CFI01
    select SERIAL_MM
    select XILINX
    select XILINX_ETHLITE
    select FDT_PPC

# Only used by 64-bit targets
config FW_CFG_PPC
    bool

config FDT_PPC
    select DEVICE_TREE
    bool

config VOF
    bool
