config MALTA
    bool
    select ISA_SUPERIO

config MIPSSIM
    bool
    select ISA_BUS
    select SERIAL_ISA
    select MIPSNET

config JAZZ
    bool
    select ISA_BUS
    select RC4030
    select I8259
    select I8254
    select I8257
    select PCSPK
    select VGA_ISA_MM
    select G364FB
    select DP8393X
    select ESP
    select FDC
    select MC146818RTC
    select PCKBD
    select SERIAL
    select PARALLEL
    select DS1225Y
    select JAZZ_LED

config FULOONG
    bool
    select PCI_BONITO

config LOONGSON3V
    bool
    imply VIRTIO_VGA
    imply QXL if SPICE
    select SERIAL
    select GOLDFISH_RTC
    select LOONGSON_LIOINTC
    select PCI_DEVICES
    select PCI_EXPRESS_GENERIC_BRIDGE
    select MSI_NONBROKEN
    select FW_CFG_MIPS

config MIPS_CPS
    bool
    select PTIMER

config MIPS_BOSTON
    bool

config FW_CFG_MIPS
    bool
