config PAM
    bool

config XEN_IGD_PASSTHROUGH
    bool
    default y
    depends on XEN && PCI_I440FX

config PPC4XX_PCI
    bool
    select PCI

config PPC440_PCIX
    bool
    select PCI

config RAVEN_PCI
    bool
    select PCI
    select OR_IRQ

config GRACKLE_PCI
    select PCI
    bool

config UNIN_PCI
    bool
    select PCI
    select DEC_PCI
    select OPENPIC

config PPCE500_PCI
    select PCI
    bool

config VERSATILE_PCI
    select PCI
    bool

config PCI_SABRE
    select PCI
    bool

config PCI_I440FX
    bool
    select PCI
    select PAM

config PCI_EXPRESS_Q35
    bool
    select PCI_EXPRESS
    select PAM

config PCI_EXPRESS_GENERIC_BRIDGE
    bool
    select PCI_EXPRESS

config PCI_EXPRESS_XILINX
    bool
    select PCI_EXPRESS

config PCI_EXPRESS_DESIGNWARE
    bool
    select PCI_EXPRESS
    select MSI_NONBROKEN

config PCI_BONITO
    select PCI
    select UNIMP
    bool

config PCI_POWERNV
    select PCI_EXPRESS
    select MSI_NONBROKEN
    select PCIE_PORT

config REMOTE_PCIHOST
    bool

config SH_PCI
    bool
    select PCI

config ARTICIA
    bool
    select PCI
    select I8259

config MV64361
    bool
    select PCI
    select I8259

config DINO
    bool
    select PCI

config ASTRO
    bool
    select PCI

config PCI_EXPRESS_FSL_IMX8M_PHY
    bool

config GT64120
    bool
    select PCI
    select EMPTY_SLOT
    select I8259
