config PL022
    bool
    select SSI

config SSI
    bool
    
config MB85RS
    bool
    select SSI
    
config ADS7953
    bool
    select SSI
    
config L6470
    bool
    select SSI

config XILINX_SPI
    bool
    select SSI

config XILINX_SPIPS
    bool
    select SSI

config STM32F2XX_SPI
    bool
    select SSI
