atomic_add-bench
benchmark-crypto-cipher
benchmark-crypto-hash
benchmark-crypto-hmac
check-*
!check-*.c
!check-*.sh
qht-bench
rcutorture
test-*
!test-*.c
!docker/test-*
test-qapi-commands.[ch]
test-qapi-events.[ch]
test-qapi-types.[ch]
test-qapi-visit.[ch]
test-qapi-introspect.[ch]
*-test
qapi-schema/*.test.*
vm/*.img
