check-qdict
check-qfloat
check-qint
check-qjson
check-qlist
check-qstring
check-qom-interface
test-aio
test-bitops
test-coroutine
test-cutils
test-hbitmap
test-int128
test-iov
test-mul64
test-opts-visitor
test-qapi-event.[ch]
test-qapi-types.[ch]
test-qapi-visit.[ch]
test-qdev-global-props
test-qemu-opts
test-qmp-commands
test-qmp-commands.h
test-qmp-event
test-qmp-input-strict
test-qmp-input-visitor
test-qmp-marshal.c
test-qmp-output-visitor
test-rfifolock
test-string-input-visitor
test-string-output-visitor
test-thread-pool
test-throttle
test-visitor-serialization
test-vmstate
test-x86-cpuid
test-xbzrle
*-test
qapi-schema/*.test.*
