config SCSI
    bool

config LSI_SCSI_PCI
    bool
    default y if PCI_DEVICES
    depends on PCI

config MPTSAS_SCSI_PCI
    bool
    default y if PCI_DEVICES
    depends on PCI

config MEGASAS_SCSI_PCI
    bool
    default y if PCI_DEVICES
    depends on PCI

config VMW_PVSCSI_SCSI_PCI
    bool
    default y if PCI_DEVICES
    depends on PCI

config ESP
    bool

config ESP_PCI
    bool
    default y if PCI_DEVICES
    depends on PCI
    select ESP

config SPAPR_VSCSI
    bool
    default y
    depends on PSERIES

config VIRTIO_SCSI
    bool

config VHOST_USER_SCSI
    bool
    default y
    depends on VHOST_USER && LINUX
