config VIRTIO
    bool

config VIRTIO_RNG
    bool
    default y
    depends on VIRTIO

config VIRTIO_PCI
    bool
    default y if PCI_DEVICES
    depends on PCI
    select VIRTIO

config VIRTIO_MMIO
    bool
    select VIRTIO

config VIRTIO_CCW
    bool
    select VIRTIO

config VIRTIO_BALLOON
    bool
    default y
    depends on VIRTIO

config VIRTIO_CRYPTO
    bool
    default y
    depends on VIRTIO

config VIRTIO_PMEM_SUPPORTED
    bool

config VIRTIO_PMEM
    bool
    default y
    depends on VIRTIO
    depends on VIRTIO_PMEM_SUPPORTED
    select MEM_DEVICE
