config LOONGARCH_VIRT
    bool
    select PCI
    select PCI_EXPRESS_GENERIC_BRIDGE
    imply VIRTIO_VGA
    imply PCI_DEVICES
    imply NVDIMM
    select ISA_BUS
    select SERIAL
    select SERIAL_ISA
    select VIRTIO_PCI
    select PLATFORM_BUS
    select LOONGARCH_IPI
    select LOONGARCH_PCH_PIC
    select LOONGARCH_PCH_MSI
    select LOONGARCH_EXTIOI
    select LS7A_RTC
    select SMBIOS
    select ACPI_PCI
    select ACPI_HW_REDUCED
    select FW_CFG_DMA
    select DIMM
