config LOONGARCH_VIRT
    bool
    select PCI
    select PCI_EXPRESS_GENERIC_BRIDGE
    imply VGA_PCI
    imply VIRTIO_VGA
    imply PCI_DEVICES
    select ISA_BUS
    select SERIAL
    select SERIAL_ISA
    select VIRTIO_PCI
    select LOONGARCH_IPI
    select LOONGARCH_PCH_PIC
    select LOONGARCH_PCH_MSI
    select LOONGARCH_EXTIOI
