config IDE_CORE
    bool

config IDE_QDEV
    bool
    select IDE_CORE

config IDE_PCI
    bool
    depends on PCI
    select IDE_QDEV

config IDE_ISA
    bool
    depends on ISA_BUS
    select IDE_QDEV

config IDE_PIIX
    bool
    select IDE_PCI
    select IDE_QDEV

config IDE_CMD646
    bool
    select IDE_PCI
    select IDE_QDEV

config IDE_MACIO
    bool
    select IDE_QDEV

config IDE_MMIO
    bool
    select IDE_QDEV

config IDE_VIA
    bool
    select IDE_PCI
    select IDE_QDEV

config MICRODRIVE
    bool
    select IDE_QDEV
    depends on PCMCIA

config AHCI
    bool
    select IDE_QDEV

config AHCI_ICH9
    bool
    default y if PCI_DEVICES
    depends on PCI
    select AHCI

config IDE_SII3112
    bool
    select IDE_PCI
    select IDE_QDEV
