config RISCV_NUMA
    bool

config IBEX
    bool

config MICROCHIP_PFSOC
    bool
    select CADENCE_SDHCI
    select MCHP_PFSOC_DMC
    select MCHP_PFSOC_IOSCB
    select MCHP_PFSOC_MMUART
    select MCHP_PFSOC_SYSREG
    select MSI_NONBROKEN
    select RISCV_ACLINT
    select SIFIVE_PDMA
    select SIFIVE_PLIC
    select UNIMP

config OPENTITAN
    bool
    select IBEX
    select UNIMP

config SHAKTI_C
    bool
    select UNIMP
    select SHAKTI_UART
    select RISCV_ACLINT
    select SIFIVE_PLIC

config RISCV_VIRT
    bool
    imply PCI_DEVICES
    imply VIRTIO_VGA
    imply TEST_DEVICES
    imply TPM_TIS_SYSBUS
    select RISCV_NUMA
    select GOLDFISH_RTC
    select MSI_NONBROKEN
    select PCI
    select PCI_EXPRESS_GENERIC_BRIDGE
    select PFLASH_CFI01
    select SERIAL
    select RISCV_ACLINT
    select RISCV_APLIC
    select RISCV_IMSIC
    select SIFIVE_PLIC
    select SIFIVE_TEST
    select VIRTIO_MMIO
    select FW_CFG_DMA
    select PLATFORM_BUS

config SIFIVE_E
    bool
    select MSI_NONBROKEN
    select RISCV_ACLINT
    select SIFIVE_GPIO
    select SIFIVE_PLIC
    select SIFIVE_UART
    select SIFIVE_E_PRCI
    select UNIMP

config SIFIVE_U
    bool
    select CADENCE
    select MSI_NONBROKEN
    select RISCV_ACLINT
    select SIFIVE_GPIO
    select SIFIVE_PDMA
    select SIFIVE_PLIC
    select SIFIVE_SPI
    select SIFIVE_UART
    select SIFIVE_U_OTP
    select SIFIVE_U_PRCI
    select SIFIVE_PWM
    select SSI_M25P80
    select SSI_SD
    select UNIMP

config SPIKE
    bool
    select RISCV_NUMA
    select HTIF
    select MSI_NONBROKEN
    select RISCV_ACLINT
    select SIFIVE_PLIC
