[global]
core = ../../roms/edk2

####################################################################################
# arm

[build.arm]
conf = UefiTestToolsPkg/UefiTestToolsPkg.dsc
plat = UefiTestTools
dest = ./Build
arch = ARM
cpy1 = ARM/BiosTablesTest.efi  bios-tables-test.arm.efi

####################################################################################
# aarch64

[build.aarch64]
conf = UefiTestToolsPkg/UefiTestToolsPkg.dsc
plat = UefiTestTools
dest = ./Build
arch = AARCH64
cpy1 = AARCH64/BiosTablesTest.efi  bios-tables-test.aarch64.efi

####################################################################################
# loongarch64

[build.loongarch64]
conf = UefiTestToolsPkg/UefiTestToolsPkg.dsc
plat = UefiTestTools
dest = ./Build
arch = LOONGARCH64
cpy1 = LOONGARCH64/BiosTablesTest.efi  bios-tables-test.loongarch64.efi

####################################################################################
# riscv64

[build.riscv64]
conf = UefiTestToolsPkg/UefiTestToolsPkg.dsc
plat = UefiTestTools
dest = ./Build
arch = RISCV64
cpy1 = RISCV64/BiosTablesTest.efi  bios-tables-test.riscv64.efi

####################################################################################
# ia32

[build.ia32]
conf = UefiTestToolsPkg/UefiTestToolsPkg.dsc
plat = UefiTestTools
dest = ./Build
arch = IA32
cpy1 = IA32/BiosTablesTest.efi  bios-tables-test.i386.efi

####################################################################################
# x64

[build.x64]
conf = UefiTestToolsPkg/UefiTestToolsPkg.dsc
plat = UefiTestTools
dest = ./Build
arch = X64
cpy1 = X64/BiosTablesTest.efi  bios-tables-test.x86_64.efi
