config SEV
    bool
    depends on KVM

config PC
    bool
    imply QXL
    imply SEV
    imply TPM_CRB
    imply TPM_TIS

config I440FX
    bool

config ISAPC
    bool
    select ISA_BUS

config Q35
    bool

config VTD
    bool

config AMD_IOMMU
    bool

config VMPORT
    bool

config VMMOUSE
    bool
