config R2D
    bool
    imply PCI_DEVICES
    imply TEST_DEVICES
    imply RTL8139_PCI
    select I82378 if TEST_DEVICES
    select IDE_MMIO
    select PFLASH_CFI02
    select USB_OHCI_PCI
    select PCI
    select SM501
    select SH7750
    select SH_PCI

config SHIX
    bool
    select SH7750
    select TC58128

config SH7750
    bool
    select SH_INTC
    select SH_SCI
    select SH_TIMER
