config IPMI
    bool

config IPMI_LOCAL
    bool
    default y
    depends on IPMI

config IPMI_EXTERN
    bool
    default y
    depends on IPMI

config ISA_IPMI_KCS
    bool
    depends on ISA_BUS
    select IPMI

config ISA_IPMI_BT
    bool
    depends on ISA_BUS
    select IPMI

config PCI_IPMI_KCS
    bool
    depends on PCI
    select IPMI

config PCI_IPMI_BT
    bool
    depends on PCI
    select IPMI

config IPMI_SSIF
    bool
    depends on I2C
    select IPMI
