config I2C
    bool

config I2C_DEVICES
    # Device group for i2c devices which can reasonably be user-plugged
    # to any board's i2c bus
    bool

config SMBUS
    bool
    select I2C

config SMBUS_EEPROM
    bool
    select SMBUS

config ARM_SBCON_I2C
    bool
    select BITBANG_I2C

config ACPI_SMBUS
    bool
    select SMBUS

config BITBANG_I2C
    bool
    select I2C

config IMX_I2C
    bool
    select I2C

config MPC_I2C
    bool
    select I2C

config ALLWINNER_I2C
    bool
    select I2C

config PCA954X
    bool
    select I2C

config PMBUS
    bool
    select SMBUS
