config I2C
    bool

config SMBUS
    bool
    select I2C

config SMBUS_EEPROM
    bool
    select SMBUS

config VERSATILE_I2C
    bool
    select BITBANG_I2C

config ACPI_SMBUS
    bool
    select SMBUS

config BITBANG_I2C
    bool
    select I2C

config IMX_I2C
    bool
    select I2C

config MPC_I2C
    bool
    select I2C
