config SUN4U
    bool
    imply PCI_DEVICES
    imply SUNHME
    imply TEST_DEVICES
    imply PARALLEL
    select M48T59
    select ISA_BUS
    select FDC_ISA
    select SERIAL_ISA
    select PCI_SABRE
    select IDE_CMD646
    select PCKBD
    select SIMBA
    select CHRP_NVRAM

config NIAGARA
    bool
    select EMPTY_SLOT
    select SUN4V_RTC
    select UNIMP
