config ISA_BUS
    bool

config APM
    bool

config I82378
    bool
    select ISA_BUS
    select I8259
    select I8254
    select I82374
    select MC146818RTC
    select PCSPK

config ISA_SUPERIO
    bool
    select ISA_BUS
    select PCKBD
    select FDC_ISA

config PC87312
    bool
    select ISA_SUPERIO
    select I8259
    select I8254
    select I8257
    select MC146818RTC
    select SERIAL_ISA
    select PARALLEL
    select FDC_ISA
    select IDE_ISA

config PIIX3
    bool
    select I8257
    select ISA_BUS

config PIIX4
    bool
    # For historical reasons, SuperIO devices are created in the board
    # for PIIX4.
    select ACPI_PIIX4
    select I8254
    select I8257
    select I8259
    select IDE_PIIX
    select ISA_BUS
    select MC146818RTC
    select USB_UHCI

config VT82C686
    bool
    select ISA_SUPERIO
    select ACPI
    select ACPI_SMBUS
    select SERIAL_ISA
    select FDC_ISA
    select USB_UHCI
    select APM
    select I8254
    select I8257
    select I8259
    select IDE_VIA
    select MC146818RTC
    select PARALLEL

config SMC37C669
    bool
    select ISA_SUPERIO
    select SERIAL_ISA
    select PARALLEL
    select FDC_ISA

config LPC_ICH9
    bool
    # For historical reasons, SuperIO devices are created in the board
    # for ICH9.
    select I8257
    select ISA_BUS
    select ACPI_ICH9
