config ISA_BUS
    bool

config APM
    bool

config I82378
    bool
    select ISA_BUS

config PC87312
    bool
    select ISA_BUS

config PIIX4
    bool
    select ISA_BUS

config VT82C686
    bool
    select ISA_BUS
    select ACPI_SMBUS

config SMC37C669
    bool
    select ISA_BUS

config LPC_ICH9
    bool
    select ISA_BUS
    select ACPI_SMBUS
    select ACPI_X86_ICH
