config VFIO
    bool
    depends on LINUX

config VFIO_PCI
    bool
    default y
    select VFIO
    depends on LINUX && PCI

config VFIO_CCW
    bool
    default y
    select VFIO
    depends on LINUX && S390_CCW_VIRTIO

config VFIO_PLATFORM
    bool
    default y
    select VFIO
    depends on LINUX && PLATFORM_BUS

config VFIO_XGMAC
    bool
    default y
    depends on VFIO_PLATFORM

config VFIO_AMD_XGBE
    bool
    default y
    depends on VFIO_PLATFORM

config VFIO_AP
    bool
    default y
    select VFIO
    depends on LINUX && S390_CCW_VIRTIO
