config VFIO
    bool
    depends on LINUX

config VFIO_PCI
    bool
    select VFIO
    depends on LINUX

config VFIO_CCW
    bool
    select VFIO
    depends on LINUX

config VFIO_PLATFORM
    bool
    select VFIO
    depends on LINUX

config VFIO_XGMAC
    bool

config VFIO_AMD_XGBE
    bool

config VFIO_AP
    bool
    select VFIO
    depends on LINUX
