config EMPTY_SLOT
    bool

config PTIMER
    bool

config FITLOADER
    bool

config GENERIC_LOADER
    bool
    default y

config OR_IRQ
    bool

config PLATFORM_BUS
    bool

config REGISTER
    bool

config SPLIT_IRQ
    bool
