config NITRO_VSOCK_BUS
    bool

config NITRO_SERIAL_VSOCK
    bool
    depends on NITRO_VSOCK_BUS

config NITRO_HEARTBEAT
    bool
    depends on NITRO_VSOCK_BUS

config NITRO_MACHINE
    bool
    default y
    depends on NITRO
    select NITRO_VSOCK_BUS
    select NITRO_HEARTBEAT
    select NITRO_SERIAL_VSOCK
