config DP264
    bool
    imply PCI_DEVICES
    imply TEST_DEVICES
    imply E1000_PCI
    select I82374
    select I8254
    select I8259
    select IDE_CMD646
    select MC146818RTC
    select PCI
    select PCKBD
    select SMC37C669
