config AN5206
    bool
    select COLDFIRE
    select PTIMER

config MCF5208
    bool
    select COLDFIRE
    select PTIMER

config NEXTCUBE
    bool
    select FRAMEBUFFER
    select ESCC

config Q800
    bool
    select MAC_VIA
    select NUBUS
    select MACFB
    select SWIM
    select ESCC
    select ESP
    select DP8393X
    select OR_IRQ
