# linter/tooling cache
.mypy_cache/
.cache/

# python packaging
build/
dist/
qemu.egg-info/

# editor config
.idea/
.vscode/

# virtual environments (pipenv et al)
.venv/
.tox/
.dev-venv/

# Coverage.py reports
.coverage
.coverage.*
htmlcov/
