[global]
core = edk2

####################################################################################
# options

[opts.common]
NETWORK_HTTP_BOOT_ENABLE = TRUE
NETWORK_IP6_ENABLE       = TRUE
NETWORK_TLS_ENABLE       = TRUE
NETWORK_ISCSI_ENABLE     = TRUE
NETWORK_ALLOW_HTTP_CONNECTIONS = TRUE
TPM2_ENABLE              = TRUE
TPM2_CONFIG_ENABLE       = TRUE
TPM1_ENABLE              = TRUE
CAVIUM_ERRATUM_27456     = TRUE

[opts.ovmf.sb.smm]
SECURE_BOOT_ENABLE       = TRUE
SMM_REQUIRE              = TRUE

[opts.armvirt.silent]
DEBUG_PRINT_ERROR_LEVEL  = 0x80000000

[pcds.nx.broken.grub]
# grub.efi uses EfiLoaderData for code
PcdDxeNxMemoryProtectionPolicy = 0xC000000000007FD1

####################################################################################
# i386

[build.ovmf.i386]
desc = ovmf build (32-bit)
conf = OvmfPkg/OvmfPkgIa32.dsc
arch = IA32
opts = common
plat = OvmfIa32
dest = ../pc-bios
cpy1 = FV/OVMF_CODE.fd edk2-i386-code.fd
cpy2 = FV/OVMF_VARS.fd edk2-i386-vars.fd

[build.ovmf.i386.secure]
desc = ovmf build (32-bit, secure boot)
conf = OvmfPkg/OvmfPkgIa32.dsc
arch = IA32
opts = common
       ovmf.sb.smm
plat = OvmfIa32
dest = ../pc-bios
cpy1 = FV/OVMF_CODE.fd edk2-i386-secure-code.fd

####################################################################################
# x86_64

[build.ovmf.x86_64]
desc = ovmf build (64-bit)
conf = OvmfPkg/OvmfPkgX64.dsc
arch = X64
opts = common
plat = OvmfX64
dest = ../pc-bios
cpy1 = FV/OVMF_CODE.fd edk2-x86_64-code.fd

[build.ovmf.x86_64.secure]
desc = ovmf build (64-bit, secure boot)
conf = OvmfPkg/OvmfPkgIa32X64.dsc
arch = IA32 X64
opts = common
       ovmf.sb.smm
plat = Ovmf3264
dest = ../pc-bios
cpy1 = FV/OVMF_CODE.fd edk2-x86_64-secure-code.fd

[build.ovmf.microvm]
desc = ovmf build for microvm
conf = OvmfPkg/Microvm/MicrovmX64.dsc
arch = X64
opts = common
plat = MicrovmX64
dest = ../pc-bios
cpy1 = FV/MICROVM.fd  edk2-x86_64-microvm.fd

####################################################################################
# arm

[build.armvirt.arm]
desc = ArmVirt build, 32-bit (arm v7)
conf = ArmVirtPkg/ArmVirtQemu.dsc
arch = ARM
opts = common
       armvirt.silent
pcds = nx.broken.grub
plat = ArmVirtQemu-ARM
dest = ../pc-bios
cpy1 = FV/QEMU_EFI.fd    edk2-arm-code.fd
cpy2 = FV/QEMU_VARS.fd   edk2-arm-vars.fd
pad1 = edk2-arm-code.fd  64m
pad2 = edk2-arm-vars.fd  64m

####################################################################################
# aarch64

[build.armvirt.aa64]
desc = ArmVirt build, 64-bit (arm v8)
conf = ArmVirtPkg/ArmVirtQemu.dsc
arch = AARCH64
opts = common
       armvirt.silent
pcds = nx.broken.grub
plat = ArmVirtQemu-AARCH64
dest = ../pc-bios
cpy1 = FV/QEMU_EFI.fd  edk2-aarch64-code.fd
pad1 = edk2-aarch64-code.fd  64m

####################################################################################
# riscv64

[build.riscv.qemu]
conf = OvmfPkg/RiscVVirt/RiscVVirtQemu.dsc
arch = RISCV64
plat = RiscVVirtQemu
dest = ../pc-bios
cpy1 = FV/RISCV_VIRT.fd  edk2-riscv.fd
pad1 = edk2-riscv.fd     32m
