config HEX_DSP
    bool
    default y
    depends on HEXAGON
    select CPU_CLUSTER
    select HEX_L2VIC

config HEX_VIRT
    bool
    default y
    depends on HEX_DSP && FDT
    select DEVICE_TREE
    select VIRTIO_MMIO
    select PL011
    select VIRTIO_BLK
    select VIRTIO_SCSI
