# Define your new unittest following the convention:
# [unittest_name]
# file = foo.flat # Name of the flat file to be used
# smp  = 2        # Number of processors the VM will use during this test
# extra_params = -append <params...> # Additional parameters used
# arch = arm/arm64                   # Only if test case is specific to one
# groups = group1 group2 # Used to identify test cases with run_tests -g ...

#
# Test that the configured number of processors (smp = <num>), and
# that the configured amount of memory (-m <MB>) are correctly setup
# by the framework.
#
[selftest::setup]
file = selftest.flat
smp = 2
extra_params = -m 256 -append 'setup smp=2 mem=256'
groups = selftest

# Test vector setup and exception handling (kernel mode).
[selftest::vectors-kernel]
file = selftest.flat
extra_params = -append 'vectors-kernel'
groups = selftest

# Test vector setup and exception handling (user mode).
[selftest::vectors-user]
file = selftest.flat
extra_params = -append 'vectors-user'
groups = selftest

# Test SMP support
[selftest::smp]
file = selftest.flat
smp = $(getconf _NPROCESSORS_CONF)
extra_params = -append 'smp'
groups = selftest
