include:
  - local: '/.gitlab-ci.d/container-core.yml'
  - local: '/.gitlab-ci.d/container-cross.yml'

amd64-alpine-container:
  extends: .container_job_template
  variables:
    NAME: alpine

amd64-debian-container:
  extends: .container_job_template
  stage: containers
  variables:
    NAME: debian

amd64-ubuntu2204-container:
  extends: .container_job_template
  variables:
    NAME: ubuntu2204

amd64-opensuse-leap-container:
  extends: .container_job_template
  variables:
    NAME: opensuse-leap

python-container:
  extends: .container_job_template
  variables:
    NAME: python

amd64-fedora-rust-nightly-container:
  extends: .container_job_template
  variables:
    NAME: fedora-rust-nightly
  allow_failure: true

# this scheduled job will trigger all the containers to build
weekly-container-builds:
  extends: .container_job_template
  allow_failure: true
  needs:
    # core
    - amd64-centos9-container
    - amd64-fedora-container
    # cross
    - amd64-debian-cross-container
    - amd64-debian-user-cross-container
    - amd64-debian-legacy-cross-container
    - arm64-debian-cross-container
    - armhf-debian-cross-container
    - hexagon-cross-container
    - loongarch-debian-cross-container
    - i686-debian-cross-container
    - mips64el-debian-cross-container
    - ppc64el-debian-cross-container
    - riscv64-debian-cross-container
    - s390x-debian-cross-container
    - tricore-debian-cross-container
    - xtensa-debian-cross-container
    - win64-fedora-cross-container
    - wasm-emsdk-cross-container
    # containers
    - amd64-alpine-container
    - amd64-debian-container
    - amd64-ubuntu2204-container
    - amd64-opensuse-leap-container
    - python-container
    - amd64-fedora-rust-nightly-container
  script:
    - apk -U add make bash skopeo
    - make docker-verify V=1 DOCKER_DEFAULT_REGISTRY=$CI_REGISTRY_IMAGE
  rules:
    # this only ever runes as a scheduled build
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
