config LM32_DEVICES
    bool
    select PTIMER

config MILKYMIST
    bool
    # FIXME: disabling it results in compile-time errors
    select MILKYMIST_TMU2 if OPENGL && X11
    select PFLASH_CFI01
    select FRAMEBUFFER
    select SD
    select USB_OHCI
    select LM32_DEVICES

config LM32_EVR
    bool
    select LM32_DEVICES
    select PFLASH_CFI02
