config LM32
    bool
    select PTIMER
    select PFLASH_CFI02

config MILKYMIST
    bool
    # FIXME: disabling it results in compile-time errors
    select MILKYMIST_TMU2 if OPENGL && X11
    select PTIMER
    select PFLASH_CFI01
    select FRAMEBUFFER
    select SD
