config DS1225Y
    bool

config AT24C
    bool
    depends on I2C

config MAC_NVRAM
    bool
    select CHRP_NVRAM

# NMC93XX uses the NS uWire interface (similar to SPI but less configurable)
config NMC93XX_EEPROM
    bool

config CHRP_NVRAM
    bool

config XLNX_EFUSE_CRC
    bool

config XLNX_EFUSE
    bool
    select XLNX_EFUSE_CRC

config XLNX_EFUSE_VERSAL
    bool
    select XLNX_EFUSE

config XLNX_EFUSE_ZYNQMP
    bool
    select XLNX_EFUSE

config XLNX_BBRAM
    bool
    select XLNX_EFUSE_CRC
